<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>

    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <th:block th:replace="fragments/_menu.html::menu"></th:block>

            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <th:block th:replace="fragments/_nav.html::nav"></th:block>

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4  class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Clients /</span> Informations du Client</h4>

           <div class="row">
             <div class="col-md-12">
                                
                 <div class="card mb-4">
                       <h5 class="card-header">Details du Client</h5>
                    <!-- Account -->
                  <div class="card-body">
                        
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img
                          th:src="@{../assets/img/avatars/pp1.jpg}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="350"
                          width="300"
                          id="uploadedAvatar"
                        />
                        <div class="col mb-4">
                            <ul>
                                <li><span class="pro-title"> <b>Nom:</b> </span> <span class="pro-detail" th:text="${employeDto.nom}">PENE </span> </li> <br>
                                <li><span class="pro-title"> <b>Prénom:</b> </span> <span class="pro-detail" th:text="${employeDto.prenom}">Francine</span></li> <br>
                                <li><span class="pro-title"> <b>Date de naissance:</b> </span> <span class="pro-detail" th:text="${employeDto.datenaissance}">08/09/2002</span></li> <br>
                                <li><span class="pro-title"> <b>Email:</b> </span> <span class="pro-detail" th:text="${employeDto.email}">francineforkou@gmail.com</span></li> <br>
                                <li><span class="pro-title"> <b>Téléphone:</b> </span> <span class="pro-detail" th:text="${employeDto.tel1}">699869357</span></li> <br>
                                <li><span class="pro-title"> <b>Sexe: </b> </span> <span class="pro-detail" th:text="${employeDto.sexe}">F</span></li> <br>
                                <li><span class="pro-title"> <b>Fonction:</b> </span> <span class="pro-detail" th:text="${employeDto.fonction}">Réceptioniste</span></li>
                            </ul>
                        </div>

                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <a th:href="@{/listemployes}">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Retour
                            </button>
                        </a>


                    </div>
                    <!-- /Account -->
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
                    <th:block th:replace="fragments/_footer.html::footer"></th:block>
                        <!-- / Footer -->

                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
        <!-- / Layout wrapper -->



        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
    <th:block th:replace="fragments/_js.html::js"></th:block>

</body>

</html>