<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
    <title>hotel237 | éditerUser</title>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <th:block th:replace="fragments/_menu.html::menu"></th:block>
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <th:block th:replace="fragments/_nav.html::nav"></th:block>
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Utilisateur/</span> Editer</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <h5 class="card-header">Les Infomations</h5>
                                    <!-- Account -->
                                    <div class="card-body">
                                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                                            <img src="../assets/img/avatars/gris.jpg" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                                            <div class="button-wrapper">
                                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Téléverser le Logo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              class="account-file-input"
                              hidden
                              accept="image/png, image/jpeg"
                            />
                          </label>
                                                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Rénitialiser</span>
                          </button>
                                                <p class="text-muted mb-0">Ajouter JPG, GIF or PNG. Max size of 800K</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body">
                                        <form id="formAccountSettings" method="POST" onsubmit="return false">
                                            <div class="row">
                                                <div class="mb-3 col-md-6">
                                                    <label for="firstName" class="form-label">Nom</label>
                                                    <input class="form-control" type="text" id="firstName" name="firstName" value="Nom" autofocus />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="lastName" class="form-label">Prenom</label>
                                                    <input class="form-control" type="text" name="lastName" id="lastName" value="Slogan" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="email" class="form-label">Date de naissance</label>
                                                    <input class="form-control" type="text" id="email" name="email" value="name.hotel@example.com" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="cathegorie" class="form-label">email</label>
                                                    <input type="text" class="form-control" id="cathegorie" name="cathegorie" value="Categorie" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label" for="phoneNumber">téléphone 1</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text">Cm (+237)</span>
                                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="654868975" />
                                                    </div>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label" for="phoneNumber">téléphone 2</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text">Cm (+237)</span>
                                                        <input type="text" id="phoneNumber1" name="phoneNumber" class="form-control" value="654868975" />
                                                    </div>
                                                </div>
                                                
                                                <div class="mb-3 col-md-6">
                                                    <label for="address" class="form-label">Sexe</label>
                                                    <input type="text" class="form-control" id="address" name="Adresse" value="Address" />
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="language" class="form-label">Role</label>
                                                    <select id="language" class="select2 form-select">
                                                        <option value="">ADMIN</option>
                                                        <option value="en">SUPERUSER</option>
                                                        <option value="fr">USER</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="zipCode" class="form-label">User</label>
                                                    <input type="text" class="form-control" id="zipCode" name="zipCode" value="231465" maxlength="6" />
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                <button type="submit" class="btn btn-primary me-2">Sauvegarder</button>
                                                <button type="reset" class="btn btn-outline-secondary">Tout annuler</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /Account -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Content -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                ,Fait ❤️ par
                                <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Mon hotel 237</a>
                            </div>

                        </div>
                    </footer>
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>