<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footer">
        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                    ©
                    <script>
                                        document.write(new Date().getFullYear());
                                    </script>
                    ,Fait ❤️ par
                    <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Mon hotel 237</a>
                </div>

            </div>
        </footer>
        <!-- / Footer -->
    </th:block>
</html>